{{ partial "header.html" . }}

<!-- {{ $products := getJSON "/data/products.json" }} -->
<main class="products">
  <img src="/images/icons/bubbles.svg" alt="Bubbles" class="background-image" style="width:auto">
  <div class="promotional-message">
    <img class="w3-hover-grayscale" src="/images/icons/pixsoap-logo.png" alt="pixsoap logo">
  </div>
  {{ range where .Site.RegularPages "Section" "products"}}
    {{ partial "product.html" .Params }}
  {{ end }}
</main>

{{ partial "footer.html" . }}
